section.about
	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.
	
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.

section.youtube
	.flex.flex--space-around
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.
	
		.col-1.order-first
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.

section.youtube
	.flex.flex--center
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.

section.youtube
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.
	
		.col-50
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt debitis cumque dolore. Quod corporis sed unde, voluptas 	odit voluptates reprehenderit laboriosam dicta blanditiis minus in ut suscipit. Officiis modi, temporibus.

